// Specific CSS for your home-page

.sky-color{
  background-image: url("BackgroundMountain.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y:top;
  background-size:cover;
  position: relative;
  height:100%;
  width:auto;
}


.home-background {
  background: linear-gradient(180deg, rgba(9,9,121,1) 5%, rgba(22,127,251,1) 100%);
  background-size: cover;
  width:100vw;
  height:100vh;
  top:80px;
  overflow:hidden;
  position:absolute;
}

.container {
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home-button {
  width: 80vw;
  max-width:350px;
  background: white;
  text-align: center;
  color: #167FFB;

  border: 1px solid #167FFB;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  a {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #167FFB;
    }
  }

