<div class="footer">
  <div class="social-media">
    <div class="strava">
      <a href="https://www.strava.com/athletes/14468677" class="fab fa-strava footer-icon" target="_blank"></a>
    </div>
    <div class="linkedin">
      <a href="https://www.linkedin.com/in/morgangml/" class="fab fa-linkedin footer-icon" target="_blank"></a>
    </div>
    <div class="instagram">
      <a href="https://www.instagram.com/morgangliz/" class="fab fa-instagram footer-icon" target="_blank"></a>
    </div>
    <div class="facebook">
      <a href="https://www.facebook.com/Morgan.G.L" class="fab fa-facebook footer-icon" target="_blank"></a>
    </div>
  </div>
</div>
