<nav class="new-navbar">
  <input type="checkbox" id="check">
  <label for="check" class="checkbtn">
    <i class="fas fa-bars"></i>
  </label>
  <label class="logo-nav"><a href="/">Morgan</a></label>
  <ul class="new-navbar-nav">
    <li class="new-navbar-item">
      <a href="/education">Education</a>
    </li>
    <li class="new-navbar-item">
      <a href="/work">Work</a>
    </li>
    <li class="new-navbar-item">
      <a href="/photography">Photography</a>
    </li>
    <li class="new-navbar-item">
      <a href="/adventures">Adventures</a>
    </li>
    <li class="new-navbar-item">
      <a href="/web_projects">Web Projects</a>
    </li>
  </ul>
</nav>
