<div class="navbar-container">
  <div class="navbar-item">
    <h1>Web project</h1>
  </div>
  <div class="navbar-item">
    <h1>Photography</h1>
  </div>
  <div class="navbar-item">
    <h1>Education</h1>
  </div>
  <div class="navbar-item">
    <h1>Adventures</h1>
  </div>
  <div class="navbar-item">
    <h1>Work</h1>
  </div>
</div>
