<nav class="navbar">
  <div class="navbar-item-bar">
    <div class="nav-item">
      <h1>Web projects</h1>
    </div>
    <div class="navbar-bar">
      <p></p>
    </div>
    <div class="nav-item">
      <h1>Photography</h1>
    </div>
    <div class="navbar-bar"></div>
    <div class="nav-item">
      <h1>Education</h1>
    </div>
    <div class="navbar-bar"></div>
    <div class="nav-item">
      <h1>Adventures</h1>
    </div>
    <div class="navbar-bar"></div>
    <div class="nav-item">
      <h1>Work</h1>
    </div>
  </div>
</nav>
