<div class="education-background top-100">
  <div class="education-white-screen">
    <div class="spacer">  </div>
    <div class="content ">

      <div class="education-card">
        <div class="education-category">
          <h1>Diploma</h1>
        </div>
        <div class="education-item">
          <div class="education-logo">
            <%= link_to image_tag("IESE_LOGO.png", alt: "logo IESE"), "https://mba.iese.edu/", target: :_blank %>
          </div>
          <div class="education-desc">
            <div class="education-title">
              <h2>Masters in Business Administration</h2>
            </div>
            <div class="education-content">
              <h3>IESE Business School - University of Navarra</h3>
              <p>During this formative experience I put an emphasis on new technology, marketing, leadership, and data analysis. I developed a particular interest in economics, managerial accounting and complemented my classroom learnings with readings on behavioral sciences. I was astonished by the quality of the people I got to spend two years with, both my peers and our professors. This gave me the confidence and the basic principles to approach any challenge with humility and patience.</p>
            </div>
          </div>
        </div>
        <div class="education-item">
          <div class="education-logo">
            <%= link_to image_tag("EHL_LOGO.png", alt: "logo IESE"), "https://www.ehl.edu/en/programs/bachelor-degree-in-hospitality", target: :_blank %>
          </div>
          <div class="education-desc">
            <div class="education-title">
              <h2>Bachelor of Science in Hospitality Management</h2>
            </div>
            <div class="education-content">
              <h3>Ecole Hoteliere de Lausanne</h3>
              <p>In this four and a half year program, I learnt the basics of many important topics such as marketing, digital marketing, finance and project management. I came out with a great appreciation of the customer's experience rather than the intended experience of the customer and a persisting love for analytics.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="education-card">
        <h1 class="education-category">Trainings and Certifications</h1>
      </div>
      <div class="education-card">
        <h1 class="education-category">Books</h1>
      </div>
      <div class="education-card">
        <h1 class="education-category">Informal education</h1>
      </div>
    </div>
  </div>
</div>
