<div class="home-page" id="start">
  <div class="home-background">
    <div class="sky-color">
      <div class="container">
        <div class="home-button">
          <a href="#about_me">MORE ABOUT ME</a>
        </div>
      </div>
    </div>
  </div>
  <div class="origin" id="about_me">
    <a href="#start"><i class="fas fa-angle-up"></i></a>
    <br>
    <br>
    <h5>I am extremely curious</h5>
    <br>
    <p>From ancient history to modern Robotics, optical lense design or behavioral science, I love to learn.
    </p>
    <br>
    <br>
    <a href="#more_about_me"><i class="fas fa-angle-down"></i></a>
    <br>
  </div>
  <div class="origin" id="more_about_me">
    <a href="#about_me"><i class="fas fa-angle-up"></i></a>
    <br>
    <br>
    <h5>I am multicultural</h5>
    <br>
    <p>I am half French half American.
      <br>
      I worked with people from all over the world and I lovedoing so.
      <br>
      I learned that cultural differences are both a challenge and an opportunity.
    </p>
    <br>
    <br>
    <a href="#even_more_about_me"><i class="fas fa-angle-down"></i></a>
    <br>
  </div>
  <div class="origin" id="even_more_about_me">
    <a href="#more_about_me"><i class="fas fa-angle-up"></i></a>
    <br>
    <br>
    <h5>I am both creative and analytical</h5>
    <br>
    <p>
      I love building Excel models and automating tasks.
      <br>
      I also love taking and editing photos or baking.
    </p>
  </div>
</div>
