<div class="top-100">
  <div class="home-background">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="home-button">
        <a href="#about_me">LEARN MORE ABOUT ME</a>
      </div>
    </div>
  </div>
  <div class="transition">

  </div>
  <div class="origin" id="about_me">
    <h5>I hold the following truths to be self evident:</h5>
    <p>Statements close the mind, questions open it.</p>
    <p>No sain person starts with bad intentions.</p>
    <p>Diversity in race, sexuality, religious beliefs or political orientation<br>all enrich those who seek to understand them and should be welcomed <br> up to the point where they promote hatered over tolerance.</p>
    <p>Building anything naturally brings satisfaction. <br>Thus failing until success is the easiest path to satisfaction.</p>
  </div>
</div>
