<div class="top-100">
  <div class="home-background">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="home-button">
        <a>LEARN MORE ABOUT ME</a>
      </div>
    </div>
  </div>
  <div class="transition">

  </div>
  <div class="origin">

  </div>
</div>
