<br>

<div class="card-product">
  <div class="product-image">
    <%= image_tag("logo_ace_bg.png", alt: "logo Ace Consulting") %>
  </div>
  <div class="product-desc">
    <h2>Consulting-prep</h2>
    <p>Formerly Ace-interviews.io, this was my team's final project at Le Wagon. The website aims at provinding students who are looking to get into consulting a place to practice interviews with each others and gather and store feedback.</p>
  </div>
</div>

<div class="card-product">
  <div class="product-image">
    <%= image_tag("T'us.png", alt: "Tools-R-Us logo") %>
  </div>
  <div class="product-desc">
    <h2>Tools-R-Us</h2>
    <p>An Airbnb mock-up that focuses on enabling people to lend tools to each other. We built this we my team at Le Wagon.</p>
  </div>
</div>


  <h4>This website is currently in construction. It is updated every day. Thank you for your interest </h4>
