<div class="home-page" id="start">
  <div class="home-background">
    <div class="sky-color">
      <div class="container">
        <div class="home-button">
          <a href="#about_me">MORE ABOUT ME</a>
        </div>
      </div>
    </div>
  </div>
  <div class="origin" id="about_me">
    <a href="#start"><i class="fas fa-angle-up"></i></a>
    <br>
    <br>
    <h5>I am extremely curious</h5>
    <br>
    <p>From ancient history to modern Robotics, optical lense design or behavioral science, I love to learn.
    </p>
    <br>
    <br>
    <a href="#more_about_me"><i class="fas fa-angle-down"></i></a>
    <br>
  </div>
  <div class="origin" id="more_about_me">
    <a href="#about_me"><i class="fas fa-angle-up"></i></a>
    <br>
    <br>
    <h5>I am multicultural</h5>
    <br>
    <p>I am half American half French. I had a chance to work with people from all over the world previously and loved it.
      <br>
      I had an especially good working relationship with the Brazilian and Turkish teams.
    </p>
    <br>
    <br>
    <a href="#even_more_about_me"><i class="fas fa-angle-down"></i></a>
    <br>
  </div>
  <div class="origin" id="even_more_about_me">
    <a href="#more_about_me"><i class="fas fa-angle-up"></i></a>
    <br>
    <br>
    <h5>I am creative and analytical</h5>
    <br>
    <p>
      I love building Excel models and automating anything.
      <br>
      I also love taking photos and, at some point, will make short movies.
    </p>
  </div>
</div>
