<div>
  <div class="home-background">
    <div class="sky-color">
      <div class="container">
        <div class="home-button">
          <a href="#about_me">LEARN MORE ABOUT ME</a>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="origin" id="about_me">
    <h5>Some major things you need to know and also some Stuff!</h5>
    <br>
    <p>More stuff</p>
    <br>
    <br>
    <a href="#how_i_roll" id="go_to_roll"> Click here to read more </a>
  </div>
  <div id="how_i_roll" >
    <h5>Here is my work philosophy:</h5>
    <p>Culture sets the rules on how to behave both in and outside of working hours.<br>A clear culture often celebrated and patiently reinforced will yield the desired behaviors.</p>
    <p>A well treated, well aligned and well informed team will outperform a team forced marched to<br>execute the vision of a single leader 100% of the time on the long run.</p>
    <p>A great leader is not one who comes up with the best ideas but one who creates an environement<br>that gets others to come up with ideas, celebrates them, and ensures the good ones get to the top of the pile.</p>
    <p>Take time to celebrate each other as well as each team.</p> -->
  </div>
</div>
