<div class="card-product-alternate">
  <div class="product-image">
    <%= link_to image_tag("logo_ace_bg.png", alt: "logo Ace Consulting"), "https://consulting-prep.herokuapp.com/", target: :_blank %>
  </div>
  <div class="product-desc">
    <h2>Consulting-prep</h2>
    <p>Formerly Ace-interviews.io, this was my team's final project at Le Wagon. The website aims at provinding students who are looking to get into consulting a place to practice interviews with each others and gather and store feedback.</p>
  </div>
</div>

<div class="card-product-alternate">
  <div class="product-image">
    <%= link_to image_tag("T'us.png", alt: "Tools-R-Us logo"), "https://tools-r-us.herokuapp.com/", target: :_blank %>
  </div>
  <div class="product-desc">
    <h2>Tools-R-Us</h2>
    <p>An Airbnb mock-up that focuses on enabling people to lend tools to each other. We built this we my team at Le Wagon.</p>
  </div>
</div>

