<div class="top-fill"></div>
<div class="work">
  <div id="work-title">
    <h1>My philosophy</h1>
  </div>
  <div id="work-philosophy" class="carousel work-carousel" data-ride="false">

    <div class="carousel-inner">
      <div class="carousel-item active work-card">
        <div class="work-title">
          <h2>Take pride, have fun</h2>
        </div>
        <div class="work-description">
          <p>I believe work should be fun, but not everything that needs to be done can be fun.
          That's why the people we work with are so important.
          I want to be part of a team that takes pride in what they do and enjoys spending time working together.</p>
        </div>
      </div>
      <div class="carousel-item work-card">
        <div class="work-title">
          <h2>Consider the customer</h2>
        </div>
        <div class="work-description">
          <p>From my training in Hospitality to my experience in tech, I have always been naturaly customer focused.
          Feasibility and viability of a service or product are definitely important, but desirability remains the most interesting aspect to work on for me.
          </p>
        </div>
      </div>
      <div class="carousel-item work-card">
        <div class="work-title">
          <h2>Learning is key</h2>
        </div>
        <div class="work-description">
          <p>I need to learn every day in order to stay focused.
          This allows me to have a real interest in my coworkers talents and better
          understand the challenges that each of my stakeholders might be facing.</p>
        </div>
      </div>

      <div class="carousel-item work-card">
        <div class="work-title">
          <h2>Ask questions</h2>
        </div>
        <div class="work-description">
          <p>I ask "why?" and "why not?" often. I found that these two questions
          usually unveil hidden opportunities. I also don't believe there are any stupid questions.</p>
        </div>
      </div>
      <div class="carousel-item work-card">
        <div class="work-title">
          <h2>Respect people</h2>
        </div>

        <div class="work-description">
          <p>You should be nice to people because you would want people to be
          nice to you, not because you might need something from them.
          I do my best to act accordingly.</p>
        </div>
      </div>
      <ul class="carousel-indicators">
        <li data-target="#work-philosophy" data-slide-to="0" class="active"></li>
        <li data-target="#work-philosophy" data-slide-to="1"></li>
        <li data-target="#work-philosophy" data-slide-to="2"></li>
        <li data-target="#work-philosophy" data-slide-to="3"></li>
        <li data-target="#work-philosophy" data-slide-to="4"></li>
      </ul>

      <a class="carousel-control-prev" href="#work-philosophy" data-slide="prev">
      <i class="fas fa-chevron-circle-left"></i>
    </a>
    <a class="carousel-control-next" href="#work-philosophy" data-slide="next">
      <i class="fas fa-chevron-circle-right"></i>
    </a>
    </div>
</div>
</div>
