// body {
//   background: linear-gradient(-60deg, #72E5CF, #96E1FF, #8BE1F1);
//   background-size: 2260px 2460px;
//   background-repeat: none;
// }

.home-background {
  background-image: image-url("SKY.jpg");
  height: auto;
  background-position: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  // opacity: 0.75;
}
