.education {
  background: image-url("BOOKS.jpg");
  background-size: cover;
  top:400px;
}

.education-white-screen {
  background: rgba(250,250,255, 0.9);
  height:100%;
  padding-bottom: 2vh;
}

.top-fill{
  height:5rem;
}

.education-category{
  height:calc(100vh -5rem);
  width: 80vw;
  margin: 50px auto 150px auto;
  align-items:center;
  text-align:center;
  box-shadow: 10px 10px 10px rgba(35,35,35,0.5);
  border-radius: 0px 150px 0px 150px;
  border: 1px solid rgba(100,100,100, 0.3);
  background:white;
  padding: 30px;
}

.category-title {
  margin-top:20px;
  padding-top:40px;
  padding-bottom: 20px;
  text-align:center;
  *{
    font-size:28px;
  }
}

.training-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:16px;
  padding:25px;
  margin: 30px 30px 30px 30px;
}

.education-card {
  width:90%;
  max-width:400px;
  height:100%;
  align-items: center;
  text-align: center;
  margin: auto;
  padding-bottom: 30px;
}

.university{
  h2{
    font-size:20px;
  }
  height:100px;
}

.title{
  h2{
    font-size:20px;
  }
}

.logo{
  img{
    max-width:80%;
    max-height:80%;
    width: auto;
    height: auto;

  }
  margin: auto;
  height: 200px;
  line-height:200px;
}

.description{
  p{
    font-size:14px;
    text-align: justify;
    text-justify: auto;
  }
  padding:  40px 2vw;
}

.diploma-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
  padding:25px;
  margin: 30px 30px 30px 30px;
}

.book-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:16px;
  padding:25px;
  margin: 30px 30px 30px 30px;
}


.book-card{
 margin: 10px;
 align:center;
 text-align:center;
}

.book-image{
  img{
    max-width: 150px;
    margin-bottom: 20px;
  }
}

.book-title *{
  font-size:18px;
  max-width:250px;
  text-align:center;
  margin:auto;
  padding: 20px 0px;
}

.book-author *{
  font-size: 16px;
  font-style: italic;
  text-align:center;
  margin:auto;
  padding:0px 0px 20px 0px;
}

.book-description *{
  font-size:12px;
  text-align:justify;
  justify:auto;
}

@media (max-width: 900px){
  .book-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:16px;
    padding:25px;
    margin: auto;
  }
.diploma-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:16px;
    padding:25px;
    margin: auto;
  }

.training-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:16px;
    padding:25px;
    margin: auto;
  }

  .education-category{
    height:calc(100vh -5rem);
    width: 80vw;
    margin: 25px auto 50px auto;
    align-items:center;
    text-align:center;
    box-shadow: 10px 10px 10px rgba(35,35,35,0.5);
    border-radius: 0px 50px 0px 50px;
    border: 1px solid rgba(100,100,100, 0.3);
    background:white;
    padding: 15px;
  }

  .category-title{
    padding-bottom:20px;

    h1{
      font-size:24px;
    }
  }
  .university {
    h2{
      font-size: 20px;
    }
  }

  .title{
    *{
      font-size:10px;
    }
  }

  .logo{
    img{
      max-width:250px;
      width: 100%;
    }
    padding: 5px;
  }

  .description{
    p{
      font-size:14px;
      text-align: justify;
      text-justify: auto;
    }
    padding:  40px 2vw;
  }
}
