// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

.big-box {
  width: 80%;
  color: #CCDBDC;
  padding: 4px;
  margin: 4px;
}

.flex-container {
  display: flex;
  justify-content: center;
}
