*{
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}
a{
  transition: 0.5s;
}

label.logo-nav{
  font-size: 30px;
  line-height:80px;
  padding: 0 50px 0 80px;
  font-weight: bold;
  text-decoration: none;
}

label a:hover, .active{
  color:#F9A5E5;
  text-decoration:none;
  text-shadow: 2px 1px #3A1D31;
}

.checkbtn {
    font-size:30px;
    color: #167FFB;
    float: right;
    line-height: 80px;
    margin-right: 80px;
    cursor: pointer;
    display: none;
  }

.logo-nav{
  img{
    max-width:250px;
    max-height:200px;
    width: 100%;

  }
}
#check {
  display: none;
}
@media (max-width: 1024px){
  label.logo-nav{
    font-size:30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size:12px
  }
}

@media (max-width: 900px){
  .checkbtn{
    display: block;
  }

  nav ul{
    position: fixed;
    width:100%;
    height:100vh;
    background: #167FFB;
    top: 80px;
    left: -100%;
    transition: .5s;
    text-align: center;
    padding-top: 50px;
  }

  nav ul li{
    display: block;
    width:100%;
    a {
      font-size: 20px;
      color:white;
    }
  }

  #check:checked ~ ul {
    left:0;
  }

}

nav ul{
  float: right;
  list-style: none;
  margin-right: 80px;
  text-decoration: none;

  li {
    display: inline-block;
    line-height: 80px;
    font-size: 14px;
    margin: 0px 10px;
    padding: 0px 10px;
    a {
      text-transform: uppercase;
      padding: 0px 0px;
    }
    a.active, a:hover{
      color:#F9A5E5;
      text-decoration:none;
      text-shadow: 2px 1px #3A1D31,0px 0px 10px rgba(0,0,0,0.25);
    }
  }
}

body::-webkit-scrollbar{
  width: 0.5rem;
}

body::-webkit-scrollbar-track{
  background: #167FFB;
}

body::-webkit-scrollbar-thumb{
  background: #F9A5E5;
}

.new-navbar{
  width: 100%;
  height: 5rem;
  position: fixed;
  list-style: none;
  box-sizing: border-box;
  background-color: white;
  box-shadow: 4px 4px 4px 4px rgba(50,50,50,0.5);
  z-index:2;
}



.navbar {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 0px;
  padding: 10px;
  position: sticky;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100px;
  background: rgba(0,0,0,1);
  align-items: center;
    a {
      color: inherit;
      text-decoration: none;
      text-shadow: 4px 4px 4px #000000;
    }

    a:hover{
      color: hotpink;
      text-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    }
    a:active{
      color: pink;
    }
}

.navbar-item-bar {
  position: fixed;
  top: 20px;
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-items: center;
  height: 60px;
  line-height: 60px;
}
.navbar-bar{
  border-right:  1px solid #CCDBDC;
  width: 1px;
  height: 80%;
}
.nav-item {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18 px;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    color: #CCDBDC;
}


