.card-product-alternate {
  display: flex;
  flex-direction: column;
  background: linear-gradient(-45deg, #EDF4ED, #F8FBF8, #F2F7F8);
  background-size: 1000% 1000%;
  animation: gradient 50s ease infinite;
  height:auto;
  max-width: 750px;
  align-items: center;
  margin: 50px auto;
  box-shadow: 0 50px 36px -20px rgba(0,0,0,0.5);
  transition: box-shadow 0.5s ease-in-out, border-radius 0.5s ease-in-out;
}

.card-product-alternate:hover{
  box-shadow: 0 50px 36px -20px rgba(0,0,0,0.8);
  border-radius: 0px 50px 0px 50px;
}

.card-product {
  display: flex;
  border-radius: 5px;
  color: white;
  height: 200px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin: 25px auto;
  box-shadow: 2px 2px 5px lightgrey;
  max-width: 80%;
  background: linear-gradient(-45deg, #133937, #73A3BF, #16387A);
  background-size: 1000% 1000%;
  animation: gradient 50s ease infinite;
  img {
    background: white;
    padding: 40px;
  }
}

.product-image {
  img {
  height: 300px;
  max-width: 550px;
  object-fit: contain;
  margin-right: 20px;
  margin-top: 40px;
}
}
.card-product img {
  height: 200px;
  max-width: 250px;
  object-fit: contain;
  margin-right: 20px;
}
.product-desc {
  margin-left: 25px;
  margin-right: 45px;
  font-family: 'Josefin Sans', sans-serif;
}
.product-desc h2 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
}
.product-desc p{
  text-align: justify;
  text-justify: inter-word;
  margin: 25px 25px 100px 25px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
}

#ace-web {
  background: "AceWeb.png";
  width: auto;
  height: 200px;
}

.background-web {
  background: #F4DCCB;
  height: calc(200vh + 400px)
}
